<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite 1" parallel="tests" thread-count="2">
        <test name="Test 1">
    <classes>
        <class name="tests.Habr">
            <methods>
                <include name="serviceHabr"/>
            </methods>
        </class>
    </classes>
</test>
    <test name="Test 2">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="serviceQAndA"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 3">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="serviceCareer"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 4">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="serviceFreelance"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 5">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="habrSearch"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 6">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="habrFiltersTime"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 7">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="habrFiltersType"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 8">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="QAndASearch"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 9">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="QAndAFilters"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 10">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="QAndAAboutService"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 11">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="careerSearchVacancies"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 12">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="careerAllVacancies"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 13">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="careerAllCompanies"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 14">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="habrSwitchLanguage"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 15">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="habrToComeIn"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 16">
        <classes>
            <class name="tests.Habr">
                <methods>
                    <include name="habrRegistration"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>